
/* fonts and colors from .psd
.portfolio{
    background-color:#2d303a;
}

.portfolio-title{
    font-size: 30px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left
}
.portfolio-text{
    width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300;
text-align: left;
}

.portfolio-tags{
    font-size: 12px;
line-height: 22px;
color: #767e9e;
font-family: "Lato";
font-weight: 400;
text-align: left;
}
.portfolio-selected-tags{
    font-size: 12px;
line-height: 22px;
color: #dedede;
font-family: "Lato";
font-weight: 400;
text-align: left;
}

.about-us{
    background-color:#f2f2f2;
}
.about-us-title{
    font-size: 30px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
}
.about-us-text{
    width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300;
text-align: left;
}

.photo-title{
    font-size: 18px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
}
.photo-text {
    width: 300px;
height: 175px;
font-size: 12px;
line-height: 22px;
color: #767e9e;
font-family: "Lato";
font-weight: 400;
text-align: left;
}
*/