@import url("./assets/reset.css");
@import url("./assets/fonts/lato/lato.css") ;

:root {
    --logo-snow-color: #f06c64;
    --lososeviy_color: #f06c64;
    --lososeviy_border_color: #ea676b;
    --header_color: #2d303a;
    --header_border_color:#323746;
    --services_color: #f2f2f2;
    --services_border_color: #ffffff;
    --nav_doter_color:#494e62;

    --portfolio-border-color: #323746;
    --portfolio-background-color: #2d303a;
    --section-title-color: #666d89;
    --section-text-color:  #767e9e;
    --portfolio-tag-color:  #767e9e;
    --portfolio-selected-tag-color:#dedede;
    --portfolio-tag-border-color:#666d89;
    --portfolio-selected-tag-border-color:#c5c5c5;
    --portfolio-image-background:#464b5e;
    --about-us-background-color: #f2f2f2;
    --about-us-border-color:#ffffff;
    --socials-border-color:#69708b;

    --get-a-quote-border-color: #ea676b;
    --get-a-quote-background-color: #f06c64;
    --get-a-quote-input-color: #d6564f;
    --get-a-quote-title-color: #f0d8d9;
    --get-a-quote-text-color:  #f0d8d9;
    --active-color:#f06c64;
    --form-placeholder-color:#f48c8f;
    --footer-background-color: #2d303a;
    --copyright-text-color:#666d89;
    --socials-border-color:#666d89;

}

body {
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
}

* {margin:0px;padding:0px;}

html{
    font-size: 10px;
}

.wrapper-all-ext {width:1020px;margin:0px auto;}
.wrapper-all-int {width:1020px;margin:0px auto;}
.content-wrapper{width:940px;margin:0px auto;}


.section-title {
    color: var(--section-title-color);
    font-size: 3rem;
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 900;
    text-align: justify
}

.section-text {
    color: var(--section-text-color);
    font-size: 1.8rem;
    line-height: 30px;
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 300;
    text-align: justify;
}

.subtitle {
    font-size: 1.8rem;
    line-height: 18px;
    color: var(--section-title-color);
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 900;
    text-align: justify;
}

.subtitle-text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--section-text-color);
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 400;
    text-align: justify;
}

.header_container {
    height: 89px;
    background-color: var(--header_color);
    border-bottom: 6px solid var(--header_border_color);
}

.slider {
    height: 594px;
    background-color: var(--lososeviy_color);
    border-bottom: 6px solid var(--lososeviy_border_color);
}

.services {
    padding-top:62px;
    height: 432px;
    background-color: var(--services_color);
    border-bottom: 6px solid var(--services_border_color);
}

.header {
    display:flex;
    height: 89px;
    justify-content: space-between;
    align-items: center;
}

h1 {
     font-size: 2.6rem;
    line-height: normal;
    color: #ffffff;
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 700;
    text-align: justify;
    position: relative;
    top:-1px;
    left:-5px;
    transform:scaleX(0.919);
}

span.logo-colored {
    color: var(--logo-snow-color);
}

.header-navigation {
    padding: 9px 0 0 0 ;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    width:371px;
}

.nav-elements {
    list-style-type: none;
}

.nav-elements:before {
    color:var(--nav_doter_color);
    content:"·";
    padding-right: 13px;
}

.nav-elements:first-child:before {
    display: none;
}

.nav-element {
    font-size: 1.2rem;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 400;
    text-align: justify;
    text-decoration: none;
    transform:scaleY(0.919);
 }

.nav-element.current-page {
    color: #f06c64;
}

a.nav-element {
    display:inline-block;
}

a.nav-element:hover {
    color: #f06c64;
}


.slider-box {
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 594px;
} 

.slider-left {
    padding: 0px 0px 5px 2px;
}

.slider-right {
    transform:scaleX(-1);
    padding: 0px 2px 5px 0px;
}

.iphone-box {
    flex-grow: 1;
}

.slider-left:hover,
.slider-right:hover {
    cursor:pointer;
    border-radius: 4px;
    /* background: yellow; */
}
 
.iphone-wrapper {
    position: relative;
    width: 820px ;
    height: 594px; 
    position: relative;
}

.iphone-vertical {
    display:inline-block;
    width: 240px;
    height: 484px;   
    position: absolute;
    top:53px;
    left:12px;
}

.iphone-vertical .ipnohe-body {
    width: inherit;
    height: inherit; 
    position: absolute;
    display:inline-block;
    background:url("./assets/Base-iphone.png") no-repeat;
}

.iphone-vertical .iphone-shadow {
    width: inherit;
    height: inherit; 
    display:inline-block;
    position: absolute;
    background:url("./assets/ShadowV.png") no-repeat 0px 0px;
}
.iphone-vertical .iphone-screen {
    width:188px;
    height:333px;
    position: absolute;
    top:65px;
    left:14px;
    background:url("./assets/Layer6.png") no-repeat -14px -135px;
}


.iphone-horizontal {
    display:inline-block;
    width:  240px;
    height:484px;  
    position: absolute;
    top:52px;
    left:447px;
    transform: rotate(90deg );
}

.iphone-horizontal .ipnohe-body {
    transform: rotate(00deg );
    width: inherit;
    height: inherit; 
    position: absolute;
    display:inline-block;
    background:url("./assets/Base-iphone.png") no-repeat 0px 26px;
}

.iphone-horizontal .iphone-shadow {
    width: inherit;
    height: inherit; 
    display:inline-block;
    position: absolute;
    background:url("./assets/ShadowV.png") no-repeat 0px 1px;
    transform: rotate(90deg );
    transform: scale(1,-1)
}

.iphone-horizontal .iphone-screen {
    width:188px;
    height:333px;
    position: absolute;
    top:91px;
    left:14px;
    background:url("./assets/Layer5h.png") no-repeat -119px -122px;
}

.servises-head {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.servises-text {
    margin: 21px 0 0 0;
    letter-spacing: -0.161px;
}

.content-columg {
    height:110px;
}

.layout-3-column {
    margin-top:45px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:13px 18px;
}


.ico {
    margin-left:1px;
    margin-top:2px;
    width:55px;
    height:55px;
    border:solid 2px #656d89;
    border-radius:50%;
    display:inline-block;
    vertical-align: top;
}

.column-text-wrapper {
    display:inline-block;
    margin-left:17px;
    width: 219px;
    height: 128px;
}

.services-column-head {
    letter-spacing: -0.0px;
    padding: 0px 0px 0px 0px; 
}

.column-text {
    margin-top: 10px;
    letter-spacing: 0.0px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-webkit-box-orient: vertical;
}

.content-columg:nth-child(3n)>.column-text-wrapper {
    margin-left: 19px;
}

.ico-pen {
    background:url("./assets/pen.svg") no-repeat 50%;
}

.ico-lamp {
    background:url("./assets/bulb.svg") no-repeat 50% 46%;
}

.ico-heart {
    background:url("./assets/heart.svg") no-repeat 50%;
}

.ico-mobile {
    background:url("./assets/phone.svg") no-repeat 50%;
}

.ico-support {
    background:url("./assets/bubble.svg") no-repeat 50%;
}

.ico-star {
    background:url("./assets/star.svg") no-repeat 50%;
}

.portfolio__body,
.about-us__body {
    width:1020px;margin:0px auto;
}

.portfolio__wrapper,
.about-us__wrapper {
    width:940px;margin:0px auto;
}

.portfolio {
    background-color:var(--portfolio-background-color);
    height: 863px;
    border-bottom: 6px solid var(--portfolio-border-color);
}

.portfolio__title {
    box-sizing: border-box;
    letter-spacing: 0.2px;
    height:110px;
    padding: 62px 0px 0px 0px;
}

.portfolio__text {
    box-sizing: border-box;
    height:30px;
    padding: 3px 0px 0px 0px;
    letter-spacing: -0.2px;
    line-height: 30px;
}

.portfolio__tags-box {
    height:50px;
    width:287px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 0px 0px 0px;
    margin-left:1px;
}

.portfolio__tag {
    box-sizing: border-box;
    height:22px;
    border: solid 1px  var(--portfolio-tag-border-color);
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 20px;
    color: var(--portfolio-tag-color);
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 400;
    display:flex;
    justify-content: center;
}

.portfolio__tag:nth-child(1){width:29px;}
.portfolio__tag:nth-child(2){width:78px;}
.portfolio__tag:nth-child(3){width:93px;}
.portfolio__tag:nth-child(4){width:57px;}
 
.portfolio__tag.tag_selected {
    color:var(--portfolio-selected-tag-color);
    border-color:var(--portfolio-selected-tag-border-color);
 } 

 .portfolio__gallery {
     margin-top: 5px;
     height:601px;
     display:grid;
     grid-template-columns:repeat(4, 1fr);
     grid-gap:20px 20px;
     overflow: hidden;
 }

.portfolio__preview-container {
    background-color: var(--portfolio-image-background);
    height:187px;
    width:220px;
}

.preview-container_img01 {
    background:url("./assets/img/Portfolio/img01.jpg") no-repeat -8px -11px;
}

.preview-container_img02 {
    background:url("./assets/img/Portfolio/img02.jpg") no-repeat -82px -43px;
}

.preview-container_img03 {
    background:url("./assets/img/Portfolio/img03.jpg") no-repeat -11px -1px;
}

.preview-container_img04 {
    background:url("./assets/img/Portfolio/img04.jpg") no-repeat -24px -2px;
}

.preview-container_img05 {
    background:url("./assets/img/Portfolio/img05.jpg") no-repeat -10px -16px;
}

.preview-container_img06 {
    background:url("./assets/img/Portfolio/img06.jpg") no-repeat -16px -4px;
}
 
.preview-container_img07 {
    background:url("./assets/img/Portfolio/img07.jpg") no-repeat -31px -39px;
}

.preview-container_img08 {
    background:url("./assets/img/Portfolio/img08.jpg") no-repeat -24px -32px;
}

.preview-container_img09 {
    background:url("./assets/img/Portfolio/img09.jpg") no-repeat -16px -2px;
}

.preview-container_img10 {
    background:url("./assets/img/Portfolio/img10.jpg") no-repeat -141px -113px;
}

.preview-container_img11 {
    background:url("./assets/img/Portfolio/img11.jpg") no-repeat -144px -175px;
}

.preview-container_img12 {
    background:url("./assets/img/Portfolio/img12.jpg") no-repeat -36px -60px;
}

.preview-container_img13 {
    background:url("./assets/img/Portfolio/img01.jpg") no-repeat -10px -10px;
}

.preview-container_img14 {
    background:url("./assets/img/Portfolio/img01.jpg") no-repeat -10px -10px;
}

.preview-container_img15 {
    background:url("./assets/img/Portfolio/img01.jpg") no-repeat -10px -10px;
}

.preview-container_img16 {
    background:url("./assets/img/Portfolio/img01.jpg") no-repeat -10px -10px;
}

.about-us__body {
    background-color:var(--about-us-background-color);
    height: 728px;
    border-bottom: 6px solid var(--about-us-border-color);
}

.about-us__title {
    box-sizing: border-box;
    height:109px;
    padding: 62px 0px 0px 0px;
    letter-spacing: -0.2px;
}

.about-us__text {
    box-sizing: border-box;
    height:70px;
    padding: 4px 0px 0px 0px;
    letter-spacing: -0.2px;
}

.about-us__main {
    margin-top: 0px;
    height:500px;
    display:grid;
    /* grid-template-columns:repeat(3, 1fr); */
    grid-template-columns: 300px 300px 300px;
    grid-gap:20px;
    overflow: hidden;
}

.about-us__photo-container {
    width:300px;
    height:300px;
    background-color: var(--portfolio-image-background);
    margin-top: 39px;
}

.about-us__photo1 {
    background:url("./assets/img/AboutUs/photo01.jpg") no-repeat -0px -0px;
}
.about-us__photo2 {
    background:url("./assets/img/AboutUs/photo02.jpg") no-repeat -1px -0px;
}
.about-us__photo3 {
    background:url("./assets/img/AboutUs/photo03.jpg") no-repeat -0px -0px;
}

.about-us_photo-title {
    margin-top: 17px;
    height:18px;
    letter-spacing: -0.1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.about-us_photo-text {
    margin-top: 10px;
    width: 300px;
    height: 45px;
    line-height: 21px;
    letter-spacing: -0.1px;
}

.about-us_socials {
    margin-top: 21px;
}

.socials-container {
    width:152px;
    height:32px;
    display: flex;
    justify-content: space-between;
}

.about-us-social-ico {
    box-sizing: border-box;
    width:32px;
    height:32px;
    border-radius: 50%;
    border:solid 1px var(--socials-border-color);
}

.social-ico-facebook{background:url("./assets/img/Socials/facebook.svg") no-repeat 50%;}
.social-ico-g-plus{background:url("./assets/img/Socials/google+.svg") no-repeat 50%;}
.social-ico-twitter{background:url("./assets/img/Socials/twitter.svg") no-repeat 50%;}
.social-ico-linkedin{background:url("./assets/img/Socials/linkedin.svg") no-repeat 50%;}

.about-us-social-ico:hover {
    cursor:pointer;
    border:solid 4px var(--active-color);
}
.portfolio__tag:hover {
    cursor:pointer;
    border-color:var(--active-color);
    color: var(--active-color);
}

.get-a-quote__body,
.singolo-footer__body {
    width:1020px;margin:0px auto;
}

.get-a-quote__wrapper,
.singolo-footer__wrapper {
    width:940px;margin:0px auto;
}

.get-a-quote {
    background-color:var(--get-a-quote-background-color);
    height: 648px;
    border-bottom: 6px solid var(--get-a-quote-border-color);
}

.singolo-footer {
    background-color:var(--footer-background-color);
    height: 76px;
}

.get-a-quote__title {
    color: var( --get-a-quote-title-color);
    box-sizing: border-box;
    letter-spacing: -0.1px;
    height:110px;
    padding: 62px 0px 0px 0px;
}

.get-a-quote__text {
    color: var( --get-a-quote-title-color);
    box-sizing: border-box;
    height:102px;
    padding: 3px 0px 0px 0px;
    letter-spacing: -0.21px;
}

 .get-a-quote__main {
     margin-top: 5px;
     height:431px;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas: "w w c";
     grid-gap:20px;
     overflow: hidden;
 }

.get-a-quote__form {
    grid-area:  w;
}

.get-a-quote__contacts-information {
    grid-area:  c;
}

input, textarea {outline: none;}

.get-a-quote__input {
    width:619px;
    height: 38px;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 0px 0px 1px 10px;
}


.get-a-quote__textarea {
    width:619px;
    height: 202px;
    box-sizing: border-box;
    resize:none;
    margin-bottom: 16px;
    padding: 2px 0px 0px 10px;
}


.get-a-quote__input, 
.get-a-quote__textarea {
    background-color: var(--get-a-quote-input-color);
    border-radius:5px;
    border:5px solid  var(--get-a-quote-input-color);
}

.get-a-quote__input:focus:invalid {
    border:5px solid red;
    /* color:red;
    background-color: blue; */
}

.form-text {
    font-size: 12px;
    line-height: 22px;
    color: var( --get-a-quote-title-color);
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 400;
    text-align: justify;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--form-placeholder-color);
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 400;
    text-align: justify;
}
 
.get-a-quote__submit-button {
    width:619px;
    height: 38px;
    box-sizing: border-box;
    background-color: var(--get-a-quote-input-color);
    border-radius:5px;
    font-size: 3rem;
    font-family: 'Lato', Verdana, Arial, Tahoma, sans-serif;
    font-weight: 900;
    color: var( --get-a-quote-title-color);
}

.get-a-quote-title {
    height:18px;
    margin-top: 0px;
    color: var( --get-a-quote-title-color);
    letter-spacing: 0.1px;
    text-overflow: ellipsis;
    overflow: hidden;
}


.get-a-quote-text {
    color: var(--get-a-quote-title-color);
    margin-top: 10px;
    width: 300px;
    height: 105px;
    letter-spacing: -0.2px;
}

.get-a-quote__contact {
    display:block;
    line-height: 1.2rem;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: var(--get-a-quote-title-color);
}

.get-a-quote__contacts-container {
    padding-top:8px;
}

.get-a-quote__contact_map {
    background: url("./assets/img/GetAQuite/location.svg") no-repeat 3px 0px;
    padding: 0px 0px 0px 23px;
    margin-bottom: 9px;
}

.get-a-quote__contact_tel {
    background:  url("./assets/img/GetAQuite/phone.svg") no-repeat 1px 0px;
    padding: 0px 0px 0px 23px;
    margin-bottom: 10px;
}

.get-a-quote__contact_email {
    background: url("./assets/img/GetAQuite/mail.svg") no-repeat 0px 3px;
    padding: 0px 0px 0px 23px;
    margin-bottom: 1px;
}

.get-a-quote__contact:hover {
    cursor:pointer;
    color:white;
}

.singolo-footer__copyright {
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.2px;
}

.socials-container {
    width:152px;
    height:32px;
    display: flex;
    justify-content: space-between;
}

.singolo-footer__social-ico:hover {
    cursor:pointer;
    border:solid 4px #f06c64;
}

.singolo-footer__social-ico {
    box-sizing: border-box;
    width:32px;
    height:32px;
    border-radius: 50%;
    border:solid 1px var(--socials-border-color);
}

.singolo-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}